@model OnlineRegistration.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { enctype="multipart/form-data",@class = "InfoForm" }))
{
    @Html.HiddenFor(x=>x.StudentId)
                   <!-------------Name---------------->
    <div class="wraper">
        <div class="left">
            <span>Student Name:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.StudentName, new { @class = "fullwidth" })
        </div>
    </div>

                   <!-------------FatherName---------------->
    <div class="wraper">
        <div class="left">
            <span>Father Name:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.FatherName, new { @class = "fullwidth" })
        </div>
    </div>

                   <!-------------MotherName---------------->
    <div class="wraper">
        <div class="left">
            <span>Mother Name:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.MotherName, new { @class = "fullwidth" })
        </div>
    </div>
                <!-------------Code---------------->
    <div class="wraper">

        <div class="left">
            <span>Student Code:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.StudentCode, new { @class = "fullwidth" })
        </div>
    </div>
                <!-------------Department---------------->
    <div class="wraper">

        <div class="left">
            <span>Department</span>
        </div>
        <div class="right">
            @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewData["DepartmentList"], new { @class = "fullwidth" })
        </div>
    </div>

                /*<!-------------User Type---------------->
    <div class="wraper">

        <div class="left">
            <span>User Type:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.UserTypeCode, new { @class = "fullwidth" })
        </div>
    </div>*/
              <!-------------AdmissionYear---------------->
    <div class="wraper">

        <div class="left">
            <span>Admission Year:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.AdmissionYear, new { @class = "fullwidth" })
        </div>
    </div>
                <!----------------Address---------------->
    <div class="wraper">

        <div class="left">
            <span>Address:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.Address, new { @class = "fullwidth" })
        </div>
    </div>
                    <!-------------Contact Number---------------->
    <div class="wraper">

        <div class="left">
            <span>Contact Number:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.ContactNo, new { @class = "fullwidth" })
        </div>
    </div>
                    <!-------------Email---------------->
    <div class="wraper">

        <div class="left">
            <span>Email:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.Email, new { @class = "fullwidth" })
        </div>
    </div>
                     <!----------Bio-Photo----------->
    <div class="wraper">
            <div class="left">
                <span>Photo:</span>
            </div>

            <div class="right">
                <input type="file" accept="image/jpeg" name="upload" id="upload"/>
            </div>
        </div>

    <!-------------Blood Group---------------->
    <div class="wraper">

        <div class="left">
            <span>Blood Group:</span>
        </div>
        <div class="right">
            @Html.DropDownListFor(x => x.BloodGroup, (List<SelectListItem>)ViewData["BloodGroupList"], new { @class = "fullwidth" })
        </div>
    </div>
                        <!-------------Sex---------------->
    <div class="wraper">

        <div class="left">
            <span>Sex:</span>
        </div>
        <div class="right">
            @Html.RadioButtonFor(x => x.Sex, "Male")<span>Male</span>
            @Html.RadioButtonFor(x => x.Sex, "Female")<span>Female</span>
        </div>
    </div>
                             <!------------Hall---------------->
    <div class="wraper">

        <div class="left">
            <span>Hall:</span>
        </div>
        <div class="right">
            @Html.DropDownListFor(x => x.Hall, (List<SelectListItem>)ViewData["HallList"], new { @class="fullwidth"})
        </div>
    </div>
                  <!-------------DateOfBirth---------------->
    <div class="wraper">

        <div class="left">
            <span>Date Of Birth:</span>
        </div>
        <div class="right">
            @Html.EditorFor(x => x.DateOfBirth)
        </div>
    </div>
    <!-------------Username---------------->
    <div class="wraper">
        <div class="left">
            <span>User Name:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.UserName, new { @class = "fullwidth" })
        </div>
    </div>
    <!-------------Password---------------->
    <div class="wraper">

        <div class="left">
            <span>Password:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.Password, new { @class = "fullwidth" })
        </div>
    </div>
    <div class="wraper">

        <div class="left">

        </div>
        <div class="right">
            <input type="submit" value="Submit" />
        </div>
    </div>
}